<%= form_for(current_user.relationships.build(followed_id: @user.id)) do |f| %>
    <div><%= f.hidden_field :followed_id %></div>
    <%= f.submit t("users.fallow.fallow"), class: "btn btn-large btn-primary" %>
<% end %>
